@import "../..//styles/global.scss";

.tab-background {
    position: absolute;
    width: 100vw;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #efefef;
    z-index: -1;

    @include respond(medium) {
        height: 160px;
    }
}

.service-tab-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .service-tab-item {
        height: 200px;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        text-transform: uppercase;
        gap: 16px;
        cursor: pointer;
        fill: #737373;
        color: #737373;

        @include respond(medium) {
            height: 160px;
            gap: 14px;

        } @include respond(small) {
            gap: 12px;

        } 

        .icon-wrapper {
            display: flex;
            align-items: center;
            svg {
                height: 60px;

                @include respond(medium) {
                    height: 50px;
        
                } @include respond(small) {
                    height: 40px;
                } 
            }
        }

        span {
            /* iOS Safari */
            -webkit-touch-callout: none;
            /* Safari */
            -webkit-user-select: none;
            /* Konqueror HTML */
            -khtml-user-select: none;
            /* Old versions of Firefox */
            -moz-user-select: none;
            /* Internet Explorer/Edge */
            -ms-user-select: none;
            /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
            user-select: none;

            font-size: 18px;
            line-height: 28px;
            font-weight: bold;

            @include respond(large) {
                font-size: 14px;
            } 
            @include respond(medium) {
                font-size: 12px;
            } @include respond(small) {
                font-size: 10px;
            } 
        }

    }

    .active {
        background-color: #dadada;
        color: #423e3e;
        fill: #423e3e;
    }
}

.tab-description {
    margin-top: 30px;
    span{
        font-weight: bold;
    }
    p {
        font-size: 14px;
        color: #8a8888;
        font-family: "helvetica";
        line-height: 22px;
        margin: 0 0 16px 0;

        .arrow-span {
            color: #423e3e;
            font-weight: bold;
            font-size: 20px;
            margin-left: 20px;
            margin-right: 11px;
        }  
    }

    .list-text{
        margin: 0 0 10px 0;

        &:last-child{
            margin: 0;
        }
    }
}