@import "../../../styles/global.scss";

.carousel-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 49px auto;
	gap: 62px;

	@include respond(large) {
		gap: 54px;
		margin-top: 40px;
    }

    @include respond(medium) {
		gap: 40px;
		margin-top: 30px;

    }

    @include respond(small) {
		gap: 20px;
		margin-top: 14px;

    }

	.splide__arrow {
		transform: none;
		// color: #efefef;
		color: #4ac04a;

		background-color: transparent;

		&:hover {
			color: #1e811e;
		}
	}
}

.carousel-bottom .arrow {
	width: 3rem;
	height: 32px;
	cursor: pointer;
	position: unset !important;
}



.carousel-text-container {
	max-width: 540px;
}

.carousel-text-header {
	text-transform: uppercase;
	text-align: center;
}

.carousel-text-paragraph {
	text-align: center;
	font-size: 14px;
	line-height: 22px;
	color: #8a8888;
	font-family: "helvetica";
	text-align: center;
}