@mixin respond($breakpoint) {
    @if($breakpoint==large) {
        @media (max-width: 900px) {
            @content
        }
    }

    @if($breakpoint==medium) {
        @media (max-width: 600px) {
            @content
        }
    }

    @if($breakpoint==small) {
        @media (max-width: 450px) {
            @content
        }
    }
}

.button-style{
    width: 220px;
    height: 40px;
    background-color: #2ecc71;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    font-weight: bold;
    font-family: "novecento";
    overflow: hidden;
    border: 0;
    cursor: pointer;

    @include respond(large) {                  
        width: 200px;
        font-size: 12px;
        line-height: 16px;
        height: 38px;
    }
    @include respond(medium) {                  
        width: 180px;
        font-size: 10px;

    }

    @include respond(small) {                  
        width: 160px;
        height: 36px;
        font-size: 10px;

    }

    &:hover {
        background-color: #60e698;
        color: #000000b0;

    }

    &:disabled {
        pointer-events: none;
        background-color: #64646414;
        color: #64646480;
      }
    
}