@import "../../styles/global.scss";

.title-container{
    width: 100vw;
    height: 100px;
    display: flex;
    background-color: #2ecc71;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    @include respond(medium) {
    }

    @include respond(small) {
    }

    .title-wrapper{
        max-width: 940px;
        width: 95%;
        padding: 0 10px;
        overflow-x: hidden;

        h1{
            font-size: 30px;
            color: #ffffff;
            font-weight: bold;
        }
        
    }
}