@import "../../styles/global.scss";

.title-container{
    width: 100vw;
    height: 100px;
    display: flex;
    background-color: #2ecc71;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    @include respond(medium) {
        height: 80px;
    }
    @include respond(small) {
        height: 60px;
    }
    .title-wrapper{
        max-width: 940px;
        width: 95%;
        padding: 0 10px;
        overflow-x: hidden;

        h1{
            font-size: 30px;
            color: #ffffff;
            font-weight: bold;

            @include respond(large) {
                font-size: 26px;
            }
            @include respond(medium) {
                font-size: 22px;
            }
            @include respond(small) {
                font-size: 16px;
            }
        }
        
    }
}