@import "../..//styles/global.scss";

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 940px;
    width: 95%;
    margin-top: 49px;

    p {
        font-size: 14px;
        color: #8a8888;
        font-family: "helvetica";
        line-height: 22px;
        margin: 0 0 16px 0;

        @include respond(small) {
            font-size: 12px;
            line-height: 18px;
        } 
    }

    h3 {
        font-size: 24px;
        color: #8a8888;
        font-weight: bold;
        font-family: "novecento";
        text-transform: uppercase;
        margin: 50px 0 24px 0;

        @include respond(large) {
            margin: 25px 0 15px 0;
        } 
        @include respond(medium) {
            font-size: 22px;
        } 
        @include respond(small) {
            font-size: 20px;
        } 
    }

    .flex-container{
        display: flex;
        flex-direction: row;
        gap: 29px;

        @include respond(large) {
            flex-direction: column;
            align-items: center;
            gap: 0;

        }
        
        img{
            width: 380px;
            height: auto;
            @include respond(large) {
                margin-bottom: 40px;
            }
            @include respond(medium) {
                margin-bottom: 30px;
            }
            @include respond(small) {
                margin-bottom: 20px;
                width: 90%;
            }

        }
        .column-container{
            display: flex;
            flex-direction: column;
            
        }
    }

    .service-container{
        width: 100%;
    }
}