@import "../..//styles/global.scss";

.header-container {
    max-width: 940px;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    overflow-x: hidden;

    .logo-icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 31px 0;
        border-bottom: 1px solid #dadada;

        @include respond(small) {
            flex-direction: column;
            justify-content: center;
            padding: 10px 0;
            gap: 10px;
        }

        .icon-container {
            display: flex;
            flex-direction: row;
            gap: 8px;
            cursor: pointer;

            .icon-wrapper {
                width: 16px;
                height: 16px;
                padding: 5px;
                border: 4px solid #dadada;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 85%;
                    height: 85%;
                    fill: #dadada;
                }

            }

            #twitter {
                &:hover {
                    border-color: #76A9EA;

                    svg {
                        fill: #76A9EA;
                    }
                }
            }

            #facebook {
                &:hover {
                    border-color: #4267B2;

                    svg {
                        fill: #4267B2;
                    }
                }
            }

            #rss {
                &:hover {
                    border-color: #ee802f;

                    svg {
                        fill: #ee802f;
                    }
                }
            }

            #pinterest {
                &:hover {
                    border-color: #C8232C;

                    svg {
                        fill: #C8232C;
                    }
                }
            }

            #googleplus {
                &:hover {
                    border-color: #DB4A39;

                    svg {
                        fill: #DB4A39;
                    }
                }
            }

            #dribbble {
                &:hover {
                    border-color: #EA4C89;

                    svg {
                        fill: #EA4C89;
                    }
                }
            }
        }
    }

    .tab-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 38px;

        @include respond(large) {
            gap: 34px;
        }

        @include respond(medium) {
            gap: 30px;
        }

        @include respond(small) {
            gap: 24px;
            justify-content: center;
        }

            a {
                margin: 30px 0;
                cursor: pointer;
                display: block;
                text-decoration: none;
                font-size: 18px;
                color: #737373;
                font-weight: bold;

                @include respond(medium) {
                    font-size: 16px;
                    margin: 26px 0;
                }
        
                @include respond(small) {
                    margin: 22px 0;
                    font-size: 14px;

                }

                &:hover,
                &.active {
                    color: #2ecc71;
                }
            }
        
    }
}