@import "../..//styles/global.scss";

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
    overflow: hidden;
}

.carousel-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-top:webkit-scrollbar {
    display: none;
}
.custom-wrapper{
    margin-top: 46px;
    @include respond(large) {
        margin-top: 38px;
    }

    @include respond(medium) {
        margin-top: 26px;
    }

    @include respond(small) {
        margin-top: 18px;
    }

    .card-wrapper {
        .background-image {
            filter: blur(3px) grayscale(100%);
        }
    }
   
    .is-active{
        .background-image {
            filter: blur(0) grayscale(0%);
        }
    }
    .card-wrapper{
        height: 100%;
    }
}