@mixin respond($breakpoint) {
    @if($breakpoint==large) {
        @media (max-width: 900px) {
            @content
        }
    }

    @if($breakpoint==medium) {
        @media (max-width: 600px) {
            @content
        }
    }

    @if($breakpoint==small) {
        @media (max-width: 450px) {
            @content
        }
    }
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .footer-title-container {
        width: 100vw;
        height: 141px;
        display: flex;
        background-color: #322f2f;
        align-items: center;
        justify-content: center;    
        @include respond(medium) {
            height: 120px;
        }
        @include respond(small) {
            height: 100px;
        }

        .footer-title-wrapper {
            max-width: 940px;
            width: 95%;
            padding: 0 10px;
            overflow-x: hidden;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 24px;
                color: #efefef;
                font-weight: bold;
                padding-right: 8px;
                
                @include respond(large) {
                    font-size: 20px;
                }
                @include respond(medium) {
                    font-size: 18px;
                }
                @include respond(small) {
                    font-size: 14px;
                }
            }
        }
    }

    .footer-bottom-container {
        max-width: 940px;
        width: 95%;
        padding: 33px 0 28px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;

        @include respond(medium) {
            padding: 5px 0 5px 0;
            font-size: 8px;
        }
  

        small {
            color: #a5a5a5;
            font-size: 12px;
            @include respond(medium) {
                font-size: 8px;
                padding-right: 4px;
            }       
        }

        .navigation-container {
            display: flex;
            flex-direction: row;

            a {
                text-decoration: none;
                color: #a5a5a5;

                &:after {
                    content: "/";
                    margin: 0 5px;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}